@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #E5E6F0;
    -webkit-font-smoothing: antialiased; 
}

body, input, button {
    font-family: Roboto, sans-serif;
}

button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30pox;
    background: #1b5666;
    border-radius: 2pox;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
    margin-top: 5px;
}

ul li {
    list-style: none;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 10px 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #000;
}

li div {
    margin-left: 2px;
    padding: 5px;
}

li p {
    width: 98%;
    border-bottom: 1px solid #cccccc;
}

li div img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

nav{
    list-style: none;
    width: 100%;
    background: rgb(243, 243, 247);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    margin: 5px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header {
    width: 138px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header img {
    width: 25px;
    height: 25px;
}



#app input {
    list-style: none;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    padding: 10px 5px;
    margin-top: 30px;
}
    